In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import datetime

warnings.filterwarnings("ignore")
%matplotlib inline

df = pd.read_csv(r"\\popnasal07.bnhpgroup.com\Departments\DIGITALFACTORY\GENERAL\קורס DS - AIRBNB\Final Project\Source File\Airbnb Berlin.csv", encoding='latin1')
df.head()

,index,Review ID,review_date,Reviewer ID,Reviewer Name,Comments,Listing ID,Listing URL,Listing Name,Host ID,...,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
0,0,58660447.0,01-03-16,14876562.0,Dennis,"Very nice, clean appartement! Josh was really ...",10002699,https://www.airbnb.com/rooms/10002699,Trendy and peaceful KreuzkÃÂ¶lln,44696672,...,01-03-16,100.0,8.0,10.0,6.0,10.0,10.0,10.0,f,f
1,1,NaN,NaN,NaN,NaN,NaN,10002922,https://www.airbnb.com/rooms/10002922,Sehr zentrale Wohnung in Berlin,45848709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
2,2,58663795.0,01-03-16,49367757.0,Andreea,Aki is really nice and friendly. We had an ama...,10006647,https://www.airbnb.com/rooms/10006647,Very central and very quite,40791092,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f
3,3,59003619.0,01-05-16,46694292.0,Sasha,Aki is a very nice dude with a clean place in ...,10006647,https://www.airbnb.com/rooms/10006647,Very central and very quite,40791092,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f
4,4,66845661.0,03-25-16,54542819.0,Yohana,Aki's place was easy to find and located in th...,10006647,https://www.airbnb.com/rooms/10006647,Very central and very quite,40791092,...,02-12-17,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f,f

## Initial review:

Filtring the dataset for the most recent year in it, excluding cities which are not Berlin. Altering 't' & 'f' values into '1' & '0' in the boolean columns.Dropping the irrelevant columns from the dataset.

In [2]:
df['Is Superhost'] = df['Is Superhost'].astype(str).str.replace('t', '1', regex=False)
df['Is Superhost'] = df['Is Superhost'].astype(str).str.replace('f', '0', regex=False)

df['Is Exact Location'] = df['Is Exact Location'].astype(str).str.replace('t', '1', regex=False)
df['Is Exact Location'] = df['Is Exact Location'].astype(str).str.replace('f', '0', regex=False)

df['Instant Bookable'] = df['Instant Bookable'].astype(str).str.replace('t', '1', regex=False)
df['Instant Bookable'] = df['Instant Bookable'].astype(str).str.replace('f', '0', regex=False)

df['review_date'] = df['review_date'].astype(str).str.replace('-', '/', regex=False)
df['review_year'] = df['review_date'].str[-2:]
df['review_mnt'] = df['review_date'].str[0:2]
#df['review_day'] = df['review_date'].str[3:5]


df18 = df[(df['review_year'] == '18') & (df['City'] == 'Berlin')]


df18 = df18.drop(['Reviewer ID','review_year','Postal Code','Review ID','index', 'Reviewer Name','Listing URL',
                  'Host URL','Host Name','neighbourhood','City','Country Code','Country','Business Travel Ready','Square Feet'], axis=1)

df18.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157014 entries, 45 to 456925
Data columns (total 34 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   review_date           157014 non-null  object
 1   Comments              156911 non-null  object
 2   Listing ID            157014 non-null  int64
 3   Listing Name          156983 non-null  object
 4   Host ID               157014 non-null  int64
 5   Host Since            157014 non-null  object
 6   Host Response Time    141106 non-null  object
 7   Host Response Rate    141106 non-null  object
 8   Is Superhost          157014 non-null  object
 9   Neighborhood Group    157014 non-null  object
 10  Latitude              157014 non-null  float64
 11  Longitude             157014 non-null  float64
 12  Is Exact Location     157014 non-null  object
 13  Property Type         157014 non-null  object
 14  Room Type             157014 non-null  object
 15  Accomodates           157014 non-null  int64
 16  Bathrooms             156879 non-null  float64
 17  Bedrooms              156833 non-null  float64
 18  Beds                  156989 non-null  float64
 19  Price                 157014 non-null  object
 20  Guests Included       157014 non-null  int64
 21  Min Nights            157014 non-null  int64
 22  Reviews               157014 non-null  int64
 23  First Review          157014 non-null  object
 24  Last Review           157014 non-null  object
 25  Overall Rating        156849 non-null  float64
 26  Accuracy Rating       156850 non-null  float64
 27  Cleanliness Rating    156850 non-null  float64
 28  Checkin Rating        156847 non-null  float64
 29  Communication Rating  156848 non-null  float64
 30  Location Rating       156847 non-null  float64
 31  Value Rating          156847 non-null  float64
 32  Instant Bookable      157014 non-null  object
 33  review_mnt            157014 non-null  object
dtypes: float64(12), int64(6), object(16)
memory usage: 41.9+ MB

Changing 'objects' to their real data types:

In [3]:
#Changing objects into 'real' datatypes:
Str_columns = ['Comments','Listing Name','Host Response Time','Neighborhood Group','Property Type','Room Type']
Date_columns = ['review_date','Host Since','First Review','Last Review']
Bool_columns = ['Is Superhost','Is Exact Location','Instant Bookable']
Float_columns = ['Price']
Int_columns = ['review_mnt']

df18[Str_columns] = df[Str_columns].astype('string')
df18[Date_columns] = df[Date_columns].apply(pd.to_datetime, errors='coerce')
df18[Bool_columns] = df[Bool_columns].apply(pd.to_numeric, errors='coerce').astype(bool)
df18[Float_columns] = df[Float_columns].apply(pd.to_numeric, errors='coerce').astype(float)
df18[Int_columns] = df[Int_columns].apply(pd.to_numeric, errors='coerce').astype('Int64')


#Altering host response rate from % to float:
df18['Host Response Rate'] = df18['Host Response Rate'].str.replace('%','').astype(float)
df18['Host Response Rate'] = df18['Host Response Rate']/100


df18.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157014 entries, 45 to 456925
Data columns (total 34 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   review_date           157014 non-null  datetime64[ns]
 1   Comments              156911 non-null  string
 2   Listing ID            157014 non-null  int64
 3   Listing Name          156983 non-null  string
 4   Host ID               157014 non-null  int64
 5   Host Since            157014 non-null  datetime64[ns]
 6   Host Response Time    141106 non-null  string
 7   Host Response Rate    141106 non-null  float64
 8   Is Superhost          157014 non-null  bool
 9   Neighborhood Group    157014 non-null  string
 10  Latitude              157014 non-null  float64
 11  Longitude             157014 non-null  float64
 12  Is Exact Location     157014 non-null  bool
 13  Property Type         157014 non-null  string
 14  Room Type             157014 non-null  string
 15  Accomodates           157014 non-null  int64
 16  Bathrooms             156879 non-null  float64
 17  Bedrooms              156833 non-null  float64
 18  Beds                  156989 non-null  float64
 19  Price                 156963 non-null  float64
 20  Guests Included       157014 non-null  int64
 21  Min Nights            157014 non-null  int64
 22  Reviews               157014 non-null  int64
 23  First Review          157014 non-null  datetime64[ns]
 24  Last Review           157014 non-null  datetime64[ns]
 25  Overall Rating        156849 non-null  float64
 26  Accuracy Rating       156850 non-null  float64
 27  Cleanliness Rating    156850 non-null  float64
 28  Checkin Rating        156847 non-null  float64
 29  Communication Rating  156848 non-null  float64
 30  Location Rating       156847 non-null  float64
 31  Value Rating          156847 non-null  float64
 32  Instant Bookable      157014 non-null  bool
 33  review_mnt            157014 non-null  Int64
dtypes: Int64(1), bool(3), datetime64[ns](4), float64(14), int64(6), string(6)
memory usage: 38.9 MB

## Reviewing value counts in some features

In [2]:
df18['Is Exact Location'].value_counts(dropna=False)

Is Exact Location
True     123959
False     33055
Name: count, dtype: int64

In [3]:
df18['Listing Name']

45                      Cosy studio in Weserstr.
64        Raw / Minimalist Apartment NeukÃÂ¶lln
65        Raw / Minimalist Apartment NeukÃÂ¶lln
66        Raw / Minimalist Apartment NeukÃÂ¶lln
71                   Two cozy rooms in Kreuzberg
                           ...
456921         Potsdamer Platz-Top Spot Studio 1
456922         Potsdamer Platz-Top Spot Studio 1
456923         Potsdamer Platz-Top Spot Studio 1
456924         Potsdamer Platz-Top Spot Studio 1
456925         Potsdamer Platz-Top Spot Studio 1
Name: Listing Name, Length: 157014, dtype: string

In [4]:
df18['Listing ID'].value_counts(dropna=False)

Listing ID
26970536    197
26970086    159
20839690    155
7429427     138
12864127    134
           ...
29524680      1
29526850      1
19294003      1
29556773      1
10008354      1
Name: count, Length: 12217, dtype: int64

In [5]:
df18['Host Since'].value_counts(dropna=False)

Host Since
2017-02-20    1280
2013-08-19    1074
2016-02-19     854
2012-05-04     820
2014-10-08     584
              ...
2016-07-05       1
2012-02-05       1
2018-08-11       1
2016-12-12       1
2009-08-25       1
Name: count, Length: 2755, dtype: int64

## Creating new feature

Displaying host tenure based on 'host since'.

In [8]:
target_date = datetime.datetime(2018, 12, 31)

df18['Host_tenure'] = df18['Host Since'].apply(lambda x: (target_date - x).days / 365.25)

In [9]:
df18 = df18.drop(['Host Since'], axis=1)

In [10]:
df18.to_pickle(r'\\popnasal07.bnhpgroup.com\Departments\DIGITALFACTORY\GENERAL\קורס DS - AIRBNB\final.pkl')